<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szkoła Podstawowa nr. 1 w Morzeszczynie</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <%- include("../navbar.ejs"); %>

    <header class="container text-center d-flex flex-column align-items-center mt-5">
        <h3 class="display-3 mt-5">
            Historia Szkoły
        </h3>

    </header>

    <section class=" container d-flex flex-column align-items-center text-center mt-5">
        <p>Szkoła Podstawowa Numer 1 w Morzeszczynie ma długą i bogatą historię, która sięga początków XX wieku. Została założona w 1905 roku, kiedy to Morzeszczyn był małą, ale prężnie rozwijającą się miejscowością. W tamtych czasach edukacja była dostępna dla nielicznych, a lokalna społeczność zdawała sobie sprawę z jej znaczenia dla przyszłości dzieci.</p>

            <p>Pierwszym budynkiem szkoły była niewielka, drewniana konstrukcja, w której uczono podstawowych przedmiotów. W miarę upływu lat i wzrostu liczby mieszkańców, szkoła zaczęła się rozwijać. W 1930 roku zbudowano nowy, murowany gmach, który był dostosowany do potrzeb rosnącej liczby uczniów. Wtedy to szkoła zyskała także nowoczesne jak na tamte czasy wyposażenie, co znacznie poprawiło jakość nauczania.</p>
            
            <p>Podczas II wojny światowej szkoła została zamknięta, a jej budynek wykorzystywano w różnych celach. Po wojnie, w 1945 roku, szkoła wznowiła działalność, a jej rola w społeczności Morzeszczyna stała się jeszcze bardziej istotna. W latach 50. i 60. XX wieku szkoła przeżywała prawdziwy rozkwit. Wprowadzono nowe programy nauczania, a kadra pedagogiczna była coraz lepiej wykształcona.</p>
            
            <p>W kolejnych dekadach szkoła dostosowywała się do zmieniających się potrzeb edukacyjnych. W 1980 roku przeprowadzono gruntowną modernizację budynku, a także wprowadzono nowoczesne metody nauczania. Szkoła stała się miejscem, gdzie nie tylko uczono, ale także organizowano różnorodne wydarzenia kulturalne i sportowe.</p>
            
            <p>W XXI wieku Szkoła Podstawowa Numer 1 w Morzeszczynie kontynuuje swoją misję edukacyjną, stawiając na rozwój kompetencji uczniów oraz ich wszechstronny rozwój. Wprowadzenie nowoczesnych technologii do procesu nauczania oraz współpraca z lokalnymi instytucjami kultury i sportu sprawiają, że szkoła jest miejscem przyjaznym dla uczniów i ich rodzin.</p>
            
            <p>Dziś Szkoła Podstawowa Numer 1 w Morzeszczynie to nie tylko miejsce nauki, ale także centrum życia społecznego, które integruje mieszkańców i promuje wartości takie jak współpraca, szacunek i otwartość na innych. Jej historia jest dowodem na to, jak ważna jest edukacja w budowaniu silnej i zjednoczonej społeczności.</p>

    </section>
 
    <%- include("../footer.ejs"); %>

</body>
</html>
