<footer class="mt-auto">
    <hr>
    <section class="d-flex justify-content-center p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
        <span>Moje media społecznościowe:</span>
        </div>
    
        <div>
        <a href="https://www.facebook.com/smyczyk.przemyslaw/" class="me-4 text-reset">
            <b class="fab fa-facebook-f">FB</b>
        </a>
        <a href="https://github.com/lemoland5" class="me-4 text-reset">
            <b class="fab fa-github">GITHUB</b>
        </a>
        <a href="https://www.youtube.com/channel/UCj6zXqYNoz0hQ29NDDCYSiQ" class="me-4 text-reset">
            <b class="fab fa-youtube">YT</b>
        </a>
        </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    &copy; 2024 Copyright: Przemysław Smyczyk @ ZSTI
    </div>
</footer>