@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  color: #012676;
  margin-bottom: 10px;
  line-height: 48.41px;
  margin-left: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > a > img {
  visibility: hidden;
  width: 30px;
  height: auto;
}

.kompetencje {
  list-style-type: none;
  color: #ffffff;
  margin: auto;
  margin-top: 150px;
  width: fit-content;
}

.kompetencje > a > li {
  background-color: #d4d4d8;
  text-align: center;
  padding: 1.5em;
  margin: 30px;
  width: 400px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (max-width: 650px) {
  header > a > img {
    visibility: visible;
    padding: 1em;
  }
  h1 {
    font-size: 24px;
    line-height: 29.05px;
    margin-left: 20px;
  }
  .kompetencje > a > li {
    text-align: start;
    margin: 15px;
    width: 284px;
    border-radius: 10px;
    padding: 0.8em;
  }
  .kompetencje {
    margin-top: 40px;
    position: relative;
    left: -20px;
  }
}
