nav {
  position: fixed;
  bottom: 1rem;
  left: 2%;
  width: 96%;
  background-color: #fff;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0;
}
nav li object {
  width: 50px;
}
li {
  list-style-type: none;
}
hr {
  height: 5px;
  background-color: #e4e4e7;
  border: none;
}
@media screen and (max-width: 500px) {
  nav li object {
    width: 12vw;
  }
  nav ul {
    display: flex;
    justify-content: center;
    gap: 7vw;
    padding: 0;
  }
}
