@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  font-family: "Inter", sans-serif;
}

body {
  padding: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: calc(100vh - 220px);
  overflow-y: auto;
}

h1 {
  font-size: 70px;
  font-weight: 900;
  color: #012676;
  margin-bottom: 100px;
  position: absolute;
}

a {
  text-decoration: none;
}

.prof_nav {
  height: 136px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  top: 200px;
  position: relative;
}

.prof_nav > a > div {
  color: white;
  background-color: #012676;
  padding: 1rem;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  border-radius: 4px;
  font-weight: 500;
  font-size: 32px;
}

.prof_nav > a:nth-child(4) > div {
  background-color: #df0000;
}

.prof_nav > a > div > img {
  margin-left: auto;
  height: 40px;
  width: auto;
}

.prof {
  width: 500px;
}

.gwiazdki {
  width: 100%;
  height: 70px;
  margin-bottom: 60px;
}

.stars {
  width: 100%;
  height: auto;
}

.yellow {
  width: 98%;
  height: 98%;
  background-color: #ffe500;
  top: -78.2px;
  left: 5px;
  position: relative;
  z-index: -1;
}

.empty {
  background-color: gray;
  width: 97.5%;
  height: 97%;
  position: relative;
  top: -150px;
  left: 5px;
  z-index: -2;
  margin: auto;
}

#pfp {
  border-radius: 50%;
  width: 80%;
  height: auto;
}

@media (width <= 1400px) {
  .container {
    flex-wrap: wrap;
  }
  .prof {
    order: 1;
    margin: auto;
    margin-top: 120px;
    top: 60px;
    position: relative;
  }
  .prof_nav > a {
    width: 35%;
    margin-right: 30px;
  }
  .prof_nav > a > div {
    width: 100%;
    font-size: 16px;
    height: 40px;
  }
  .prof_nav {
    order: 2;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  #pfp {
    border-radius: 50%;
    width: 60%;
    height: auto;
    margin-left: 60px;
  }
  .prof_nav > a > div > img {
    margin-left: auto;
    height: 30px;
    width: auto;
  }
}

@media (width <= 500px) {
  .yellow {
    height: 75%;
    top: -62.4px;
    left: 4px;
  }

  .empty {
    height: 77%;
    top: -118.5px;
  }
}

@media (600px <= width <= 1400px) {
  .container {
    flex-wrap: wrap;
  }
  .prof {
    order: 1;
    margin: auto;
    margin-top: 120px;
    top: 60px;
    position: relative;
  }
  .prof_nav > a {
    width: 35%;
    margin-right: 30px;
  }
  .prof_nav > a > div {
    width: 100%;
    font-size: 16px;
    height: 40px;
  }
  .prof_nav {
    order: 2;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  #pfp {
    border-radius: 50%;
    width: 60%;
    height: auto;
    margin-left: 60px;
  }
  .prof_nav > a > div > img {
    margin-left: auto;
    height: 30px;
    width: auto;
  }

  .yellow {
    height: 95%;
    top: -75.2px;
    left: 5px;
  }

  .empty {
    height: 93%;
    top: -145px;
    left: 7px;
  }
}
