<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szkoła Podstawowa nr. 1 w Morzeszczynie</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <%- include("../navbar.ejs"); %>


    <header class="container text-center d-flex flex-column align-items-center mt-5 mb-5">
        <h3 class="display-3 mt-5">Dziennik Morzeszczynex</h1>
    </header>

    <main class="d-flex w-100 justify-content-center">
        <section class="container-fluid mt-5 justify-content-center">


            <section class="row d-flex justify-content-center mb-5 gap-5 text-center">
                <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/profile">
                    <div class="card p-1" style="width: 18rem;">
                        <div class="card-body d-flex flex-column justify-content-around">
                            <h5 class="card-title">Profil</h5>
                            <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                            
                        </div>
                    </div>
                </a>

                <div class="card p-1 d-flex justify-content-center" style="width: 18rem;">
                    <div class="card-body d-flex flex-column justify-content-around">
                    <h5 class="card-title">Vegemite</h5>
                    <!-- <p class="card-text">Popularna australijska pasta z kiszonych drożdży wzmocni układ odpornościowy i kubki smakowe każdego ucznia</p> -->
                    </div>
                </div>
                <div class="card p-1" style="width: 18rem;">
                    <div class="card-body d-flex flex-column justify-content-around">
                    <h5 class="card-title">Margaryna Kasia</h5>
                    <!-- <p class="card-text">Jako alternatywa do masła, margaryna jest tanią i przepyszną opcją do dań chlebowych</p> -->
                    </div>
                </div>
            </section>
    </main>

 
    <%- include("../footer.ejs"); %>

</body>
</html>
