<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szkoła Podstawowa nr. 1 w Morzeszczynie</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <%- include("../navbar.ejs"); %>


    <header class="container text-center d-flex flex-column align-items-center mt-5 mb-5">
        <h3 class="display-3 mt-5">Dziennik Morzeszczynex</h1>
    </header>

    <main class="d-flex w-100 justify-content-center">
        <section class="container-fluid mt-5 justify-content-center">


            <section class="row d-flex justify-content-center mb-5 gap-5 text-center">
                <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/profile">
                    <div class="card p-1" style="width: 18rem;">
                        <div class="card-body d-flex flex-column justify-content-around">
                            <h5 class="card-title">Profil</h5>
                            <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                            
                        </div>
                    </div>
                </a>




                <% if (rola == "n" || rola == "a") { %>
                
                    <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/ocenyPanel">
                        <div class="card p-1" style="width: 18rem;">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <h5 class="card-title">Oceny</h5>
                                <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                                
                            </div>
                        </div>
                    </a>

                    <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/frekwencjaPanel">
                        <div class="card p-1" style="width: 18rem;">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <h5 class="card-title">Frekwencja</h5>
                                <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                                
                            </div>
                        </div>
                    </a>

                    <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/uwagiPanel">
                        <div class="card p-1" style="width: 18rem;">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <h5 class="card-title">Uwagi</h5>
                                <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                                
                            </div>
                        </div>
                    </a>
                    
                    <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/pracePanel">
                        <div class="card p-1" style="width: 18rem;">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <h5 class="card-title">Prace</h5>
                                <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                                
                            </div>
                        </div>
                    </a>

                    <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/uczniowie">
                        <div class="card p-1" style="width: 18rem;">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <h5 class="card-title">Twoi uczniowie</h5>
                                <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                                
                            </div>
                        </div>
                    </a>

                <% } else if (rola == "u") { %>

                    <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/oceny">
                        <div class="card p-1" style="width: 18rem;">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <h5 class="card-title">Oceny</h5>
                                <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                                
                            </div>
                        </div>
                    </a>

                    <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/frekwencja">
                        <div class="card p-1" style="width: 18rem;">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <h5 class="card-title">Frekwencja</h5>
                                <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                                
                            </div>
                        </div>
                    </a>

                    
                    <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/uwagi">
                        <div class="card p-1" style="width: 18rem;">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <h5 class="card-title">Uwagi</h5>
                                <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                                
                            </div>
                        </div>
                    </a>

                    <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/prace">
                        <div class="card p-1" style="width: 18rem;">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <h5 class="card-title">Prace</h5>
                                <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                                
                            </div>
                        </div>
                    </a>

                    <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/zastepstwa">
                        <div class="card p-1" style="width: 18rem;">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <h5 class="card-title">Zastępstwa</h5>
                                <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                                
                            </div>
                        </div>
                    </a>



                <% }%>

                <% if(rola == "a") {%>

                    <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/zastepstwaPanel">
                        <div class="card p-1" style="width: 18rem;">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <h5 class="card-title">Zastępstwa</h5>
                                <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                                
                            </div>
                        </div>
                    </a>

                    <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/confirmPanel">
                        <div class="card p-1" style="width: 18rem;">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <h5 class="card-title">Zatwierdzanie użytkowników</h5>
                                <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                                
                            </div>
                        </div>
                    </a>

                <% } %>

                <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/wiadomosci">
                    <div class="card p-1" style="width: 18rem;">
                        <div class="card-body d-flex flex-column justify-content-around">
                            <h5 class="card-title">Wiadomości</h5>
                            <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                            
                        </div>
                    </div>
                </a>

                <a class="card p-1" style="width: fit-content; text-decoration: none;" href="/logout">
                    <div class="card p-1" style="width: 18rem;">
                        <div class="card-body d-flex flex-column justify-content-around">
                            <h5 class="card-title">Wyloguj</h5>
                            <!-- <p class="card-text">Sycący szczaw z nasypu jest zdrową alternatywa dla popularnych dań obiadowych</p> -->
                            
                        </div>
                    </div>
                </a>


            </section>
    </main>

 
    <%- include("../footer.ejs"); %>

</body>
</html>
